@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}

.post, .post-content{
	margin-right: 25px;
}

.post:last-child, .post-content:last-child{
	margin-right: 0px;
}

.container{
	max-width: 90%;
	margin: auto;
}

h2, strong, h3{
	color: #2c2b2b;
}

header, section{
	padding: 40px 0;
}

.img{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.img .img-icon i{
	color: #fff;
	background-color: #5e94fd;
	padding: 8px;
	margin: 10px;
}

.img .caption{
	align-self: flex-end;
	background-color: #2e4c6e;
	color: #fff;
	padding: 5px 10px;
	font-size: 13px;
}

header .container, .head1, .main .container, #newsletter .container, footer .container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/*Header*/
.logo h2{
	font-size: 42px;
}

nav ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
}

header li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #2c2b2b;
	margin: 0 20px;
} 

header li a i{
	color: #616060;
	font-size: 12px;
}

header .social-icons{
	margin-right: 35px;
}

.logo{
	margin-right: 80px;
}

.social-icons i{
	margin: 0 10px;
}

.search i{
	font-size: 20px;
}

.hamburger{
	display: none;
}

/*Main Section that is after Header*/
.main{
	background-color: #f8fafd;
}

.main .container{
	align-items: flex-start !important;
}

.main h2{
	font-size: 20px;
}

.main .post-info{
	font-size: 13px;
}

.main .post{
	width: 100%;
}

.post-info{
	margin: 10px 0 15px;
}

.excerpt {
	font-size: 14px;
	color: #454245;
}

.left-box, .right-box{
	width: 49%;
}

.left-box .img{
	height: 400px;
	width: 100%;
	background-color: #e0e3f4;
	margin-bottom: 10px;
}

.post-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 40px;
}

.post-row .img{
	height: 160px;
	/*width: 260px;*/
	background-color: #e0e3f4;
}

.post-row h3{
	font-size: 16px;
	margin: 10px 0px 10px;
}

/*Posts List Section*/
.posts-list .content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 5px;
}

.posts-list a{
	color: #979095;
	font-size: 14px;
	text-decoration: none;
}

.list .post{
	width: 20%;
}

.list{
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.list h3{
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	margin: 10px 0;
}

.list .img{
	height: 170px;
	background-color: #e0e3f4;
	justify-content: flex-end;
}

/*Most Popular Section*/
.popular h2{
	border-bottom: 1px solid #dddddd;
	padding-bottom: 5px;
}

.popular .post-row{
	margin-top: 30px;
}

.bottom-img{
	margin: auto;
	width: 900px;
	height: 200px;
	background-color: #e0e3f4;
}

.popular h3{
	font-size: 20px;
	font-weight: 600;
}

.popular .post-content .img{
	width: 100%;
	height: 350px;
	margin-right: 30px;
}

.post-v{
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.post-v .img{
	height: 90px;
	width: 140px;
	margin-right: 15px;
}

.post-v h4{
	font-size: 13px;
	color: #2e4c6e;
	border-left: 1px solid #2e4c6e;
	padding-left: 5px;
	margin-bottom: 10px;
}

.post-v p{
	font-size: 14px;
	color: #2c2b2b;
	font-weight: 600;
}


/*Newsletter Section*/
#newsletter{
	border-top: 1px solid #dddddd;
	margin-top: 80px;
}

#newsletter .content h2{
	font-size: 24px;
}

#newsletter .content p{
	color: #979095;
	font-size: 14px;
	margin-top: 8px;
}

.input input{
	border: none;
	outline: none;
	border: 1px solid #dddddd;
	font-size: 14px;
	padding: 15px 20px;
	width: 400px;
}

.input button{
	background-color: #2e4c6e;
	color: #ffffff;
	border: none;
	font-size: 16px;
	font-weight: 500;
	padding: 14.5px 35px;
	margin-left: -5px;
}

/*Footer Section*/
footer .container {
	padding: 40px 0;
	border-top: 1px solid #dddddd;
	align-items: flex-start;
}

footer .logo{
	margin-bottom: 20px;
}

footer .loc{
	width: 30%;
}

footer .loc p{
	margin: 15px 0;
}

p, footer li{
	color: #979095;
	font-size: 14px;
	line-height: 20px;
}

footer .information, .about{
	width: 15%;
}

footer .twitter{
	width: 25%;
}

.copyright{
	margin-top: 40px !important;
}

footer h2{
	font-size: 16px;
}

footer ul, .twitter p{
	list-style: none;
	margin-top: 20px;
}

footer li{
	margin-bottom: 10px;
}

.time{
	font-size: 12px;
}

@media screen and (max-width: 480px){
	.post-row{
		flex-direction: column;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.post-row .img{
		width: 100% !important;
	}

	.post-row .post{
		margin-right: 0;
		margin-bottom: 20px;
	}

	.search{
		display: none;
	}

	.hamburger{
		margin-left: 60px;
	}

	.post, .post-content{
		margin-right: 0px;
	}

	header .social-icons{
		display: none;
	}

}

@media screen and (max-width: 620px){
	.input input{
		width: 280px;
	}

	footer .container, .list{
		flex-direction: column;
	}

	.list .img{
		height: 200px !important;
	}

	footer .loc, footer .information, .about, footer .twitter{
		width: 100%;
	}

	.information, .about, .twitter{
		margin-bottom: 10px;
	}

	.post-row .img{
		width: 200px;
	}

	.posts-list .post{
		margin-bottom: 20px;
	}

	.list .post{
		width: 100%;
	}
}

@media screen and (max-width: 768px){
	.list .img{
		height: 100px;
		width: 100%;
		margin-right: 0;
	}

	.list h3 {
		font-size: 13px;
	}

	.list p{
		font-size: 10px;
	}

	.list .post{
		margin-right: 10px;
	}

	.main .container, .popular .post-row, #newsletter .container{
		flex-direction: column;
	}

	.left-box, .right-box{
		width: 100%;
	}

	.left-box{
		margin-bottom: 50px;
	}

	.popular .post-content .img{
		width: 100%;
	}

	.popular .post-content{
		margin-bottom: 50px;
	}

	.bottom-img{
		width: 100%;
	}

	#newsletter .container{
		justify-content: flex-start;
		align-items: flex-start;
	}

	#newsletter .input{
		margin: 20px 0 30px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1240px){
	.bottom-img{
		width: 100%;
	}

	.list .img{
		height: 150px;
		width: 100%;
	}

	.list .post{
		margin-right: 10px;
	}

	.post-row .post{
		margin-right: 20px;
	}

	.post-row .post .img{
		width: 100%;
	}

	.popular .post-row{
		flex-direction: column;
	}

	.popular .post-content .img{
		width: 100%;
	}

	.logo{
		margin-right: 20px;
	}

	header li a{
		margin: 0 10px;
	} 

}

@media screen and (max-width: 1010px){
	nav{
		display: none;
	}

	.hamburger{
		display: block;
	}
}